:root {
    --header-color:  #212121;
    --first-title-color: #212121;
    --second-title-color: #FFFFFF;
    --accent-color: #2196f3;
    --first-btn-color: #2196f3;
    --second-btn-color: #FFFFFF;
    --third-btn-color:#212121; 
    --text-color: #757575;
}

/*p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol{
    margin: 0;
    padding-left: 0;
}*/

body {
    font-family: "Roboto", sans-serif; 
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}

.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    b
   
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
/*----------------Шапка сторінки--------------------*/
.header {
   
}
  
.main-nav {
    display: flex;
    align-items: center;
}

.header-list, .portfolio-list {
    display: flex;
    margin-left: 93px; 
}

.header-list .header-item {
    margin-right: 50px;
  
}

.header-list .header-item:last-child {
    margin-right: 0;
}


.header-logo, .portfolio-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--accent-color);  
}
.header-studio, .portfolio-studio {
font-family: 'Raleway';

font-weight: 700;
font-size: 26px;
line-height: 1.19;

letter-spacing: 0.03em;
color: var(--header-color);
}

.header-link, .portfolio-link {
    display: block;
   padding-top: 32px;
   padding-bottom: 32px;

 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--header-color); 
}

.header-link:hover,
.header-link:focus,
.portfolio-link:hover,
.portfolio-link:focus
{
 color: var(--accent-color);
}

/* auth*/ 

.auth-header-list, .auth-portfolio-list {
    display: flex;
    margin: auto;
}

.auth-header-list .header-item + .header-item {
    margin-left: 50px;
}






.header-mail, .portfolio-mail 
 {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--accent-color);
}
 

.header-tel, .portfolio-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--text-color);
}


/*----------------------Основний контент----------------*/
 


.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: #2F303A;
    text-align: center;
   
}
.hero-first-title {
display: inline-block;
    
margin-top: 0;
margin-bottom: 40px;
  
width: 696px;
height: 120px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;

letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--second-title-color);
  }



.hero-btn {

display: block;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
height: 50px;
width: 200px;


border-radius: 4px;   
font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.87;


align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--second-btn-color);
 
background-color: var(--first-btn-color);
}

.btn {
    cursor: pointer;
        border: none;}


.specificity  {
    padding-top: 94px;
    padding-bottom: 94px;
   
}




.hero-pre-title {
    margin-top: 0;
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--first-title-color);
} 
.hero-title {
margin-top: 0;


font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--text-color);
}


.hero-list {
    display: flex; 
}

.hero-list .hero-item + .hero-item {
    margin-left: 30px;}


.about {
    padding-bottom: 94px;
}

.about-list  {
    display: flex; 
}

.about-list .about-item + .about-item {
    margin-left: 30px;}


.about-pre-title {
 margin-top: 0;
 margin-bottom: 50px;



    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: var(--first-title-color);
}


/* Наша комвнда */

.team {
    background-color:#F5F4FA;
    padding-bottom: 94px;

}

.team-list  {
    display: flex; 
}

.team-list .team-item + .team-item {
margin-left: 30px;
}


.team-pre-title {
    margin-top: 0;
 margin-bottom: 50px;


font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: var(--header-color);
}

.team-title {
    margin-top: 0;
    margin-bottom: 10px;



font-weight: 500;
font-size: 16px;
line-height: 1.18;

text-align: center;
letter-spacing: 0.03em;

color: var(--first-title-color);
}

.team-after-title {
    margin-top: 0;
    margin-bottom: 0;


    font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

color: var(--text-color);
}


/*----------------------Підвал----------------*/



.footer, .portfolio-footer {
background: #2F303A;}


.footer, .portfolio-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-list .footer-item + .footer-item
{ display: block;
    margin-bottom: 9px;
}


.footer-link, .portfolio-footer-link
 {
     display: block;
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--accent-color);
}

.footer-studio, .portfolio-footer-studio
 {
font-family: 'Raleway';

font-weight: 700;
font-size: 26px;
line-height: 1.19;

letter-spacing: 0.03em;
color: var(--second-title-color);
}

.footer-adress, .portfolio-footer-adress
 {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;

color:var(--second-title-color);
}

.footer-mail, .portfolio-footer-mail
 {
    font-style: normal;
    font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.footer-tel, .portfolio-footer-tel
 {
    font-style: normal;
    font-weight: 400;
font-size: 14px;
line-height: 1;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}


/*----------------------Портфолио----------------*/


.portfolio {
display: block;
padding-top: 32px;
padding-bottom: 32px;}





.portfolio-list .portfolio-item {
    margin-right: 50px;
  
}

.portfolio-list .portfolio-item:last-child {
    margin-right: 0;
}

.auth-portfolio-list .portfolio-item + .portfolio-item {
    margin-left: 50px;
}


.buttons-container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    }

    .portfolio-hero-list {
        display: flex;
        align-items: center;
        margin: 0 auto;
      }

.button-portfolio {
    display: block;
    margin: 0 8px 0 0;
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em; 
    border-radius: 4px
}
 
.portfolio-hero-list 
{
    display: flex;
    flex-wrap: wrap;
    }

    .portfolio-hero-item{
    display: block;
    
    margin-right: 30px;
    margin-bottom: 30px;
}

    
/*-------------------------------Основной контент*/

.button-portfolio {
    font-family: 'Roboto';
    font-style: normal; 
font-weight: 500;
font-size: 16px;
line-height: 1.6;

text-align: center;
letter-spacing: 0.03em;

color: var(--third-btn-color);
}

.button-portfolio:hover,
.button-portfolio:focus
{
    color: var(--second-btn-color);
 background-color: var(--accent-color);
}

.portfolio-hero-second-title {
    font-weight: 700;
font-size: 18px;
line-height: 2;

letter-spacing: 0.06em;

color: var(--first-title-color);
}

.portfolio-title {
    font-weight: 400;
font-size: 16px;
line-height: 1.87;

letter-spacing: 0.03em;

color: var(--text-color);
}


.portfolio-footer .portfolio-footer-item + .portfolio-footer-item {
    display: block;
    margin-bottom: 9px;
}
